<h3>Post Form</h3>

<%= form_for @post do |fb| %>
  <label>Post Title:</label>
  <%= fb.text_field :title %>

  <label>Post Description:</label>
  <%= fb.text_area :description %>

  <%= fb.submit %>
<% end %>